@import "tailwindcss";

:root {
	--text: #000000;
	--background: #ededed;
	--primary: #46e27c;
	--secondary: #ababab;
	--accent: #43f9e1;
}

@theme inline {
	--color-background: var(--background);
	--color-text: var(--text);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #ffffff;
		--background: #121212;
		--primary: #1db954;
		--secondary: #545454;
		--accent: #06bca4;
	}
}

body {
	background: var(--background);
	color: var(--text);
	font-family: Arial, Helvetica, sans-serif;
}
